# Ambiente virtual
venv/
.env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Dados locais (se não quiser versionar)
data/

# VS Code
.vscode/
*.code-workspace

# Logs / temporários
*.log
*.tmp
